.container {
  margin-top: 70px;
  color: whitesmoke;
}

.container h1,
.container .line,
.container .dateContainer,
.container .listContainer {
  opacity: 0;
  transform: translateY(-20px);
}

.triggered h1 {
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.2s;
}

.triggered .line {
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.4s;
}

.triggered .dateContainer {
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.6s;
}

.triggered .listContainer {
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.8s;
}

.container h1 {
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 90px;
}

.container section {
  display: flex;
  align-content: center;
  margin: auto;
  width: 56%;
}

.line {
  position: relative;
  height: 640px;
  transition: box-shadow 0.3s ease;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  background-color: #0a6fe2;
  transition: height 0.1s ease-out;
  z-index: 0;
}

.circle,
.second {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle, silver 50%, transparent 70%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.circle {
  top: 90px;
  right: -21px;
}

.second {
  top: 400px;
  right: -21px;
}

.circleVisible {
  opacity: 1;
  transform: scale(1);
}

.dateContainer {
  width: 110%;
  margin-top: 90px;
  list-style-type: none;
}

.dateContainer ul:last-child {
  margin-top: 275px;
}

.date {
  width: 110%;
  list-style-type: none;
}

.date li {
  font-size: 26px;
  font-weight: 700;
}

.listContainer {
  margin-left: 80px;
}

.paragraphs {
  margin-top: 90px;
  list-style-type: none;
}

.paragraphs:last-child {
  margin-top: 115px;
}

.paragraphs li:first-child {
  font-size: 26px;
  margin-bottom: 4px;
}

.paragraphs li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(203, 172, 250);
}

.paragraphs li:nth-child(3) {
  margin-bottom: 15px;
  text-align: justify;
  font-size: 17px;
}

.buttons span {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.buttons span:nth-child(1) {
  animation-delay: 1.1s;
}
.buttons span:nth-child(2) {
  animation-delay: 1.3s;
}

.buttons {
  display: flex;
  margin-top: 40px;
}

.buttons span:nth-child(2) {
  margin-left: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
