.border {
  padding: 10px 20px;
  background: rgb(13, 13, 42);
  cursor: pointer;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 600;
  animation: borderMove 3s infinite;
}

button {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

.button img {
  padding-top: 4px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
}

@keyframes borderMove {
  0% {
    border-color: rgba(255, 255, 255, 0.03);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.03);
  }
}
